$primary:     #2980b9;
$success:     #27ae60;
$error:       #e74c3c;
$secondary:   #9b59b6;

/*
* Page Variables
*/
$body-bg:       $primary;
$text-color:    #fff;
$font-family-body:    Lato, "sans-serif";
$font-family-heading:   Montserrat, "sans-serif";
/*
* Header Style variables
*/
